<div class="container">
  <div class="row">
  
    <%# TODO?
    <!-- PHONES IMAGE -->
    <div class="col-md-6 wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
      <div class="phone-image">
        <img src="images/2-iphone-left.png" alt="">
      </div>
    </div>
    %>
    <div class="col-md-1"></div>
    
    <!-- RIGHT SIDE WITH BRIEF -->
    <div class="col-md-11 left-align wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
    
      <!-- SECTION TITLE -->
      <h2 class="dark-text"><%= data.challenges.headline %></h2>
    
      <div class="colored-line-left"></div>
    
      <% data.challenges.paragraphs.each do |paragraph| %>
        <p><%= paragraph %></p>
      <% end %>

    </div>
    <!-- /END RIGHT BRIEF -->

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->
