<div class="color-overlay">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        
        <!-- BUTTONS AREA -->
        <div class="contact-container">
          <h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
            <%= data.contact.headline %>
          </h2>
          
          <% data.contact.paragraphs.each do |paragraph| %>
            <p><%= paragraph %></p>
          <% end %>
          
          <!-- SOCIAL ICONS -->
          <ul class="social-icons">
            <% data.contact.socials.each do |social| %>
              <li>
                <a href="<%= social.url %>" target="blank" style="">
                  <i class="social_<%=social.icon %>"></i>
                </a>
              </li>
            <% end %>
          </ul>
          <!-- /END SOCIAL ICONS -->
          
        </div>
        <!-- END OF BUTTONS AREA -->
        
        <%#
        <!-- SUBSCRIPTION FORM WITH TITLE -->
        <div class="subscription-form-container">
          
          <h2 class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">Subscribe Now!</h2>
          
          <!-- =====================
               MAILCHIMP FORM STARTS 
               ===================== -->
          
          <form class="subscription-form mailchimp form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" role="form">
            
            <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
            <h4 class="subscription-success"></h4>
            <h4 class="subscription-error"></h4>
            
            <!-- EMAIL INPUT BOX -->
            <input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
            
            <!-- SUBSCRIBE BUTTON -->
            <button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>
            
          </form>
          <!-- /END MAILCHIMP FORM STARTS -->
          
          <!-- =====================
               LOCAL TXT FORM STARTS 
               ===================== -->
               
          <!-- THIS FORM IS COMMENTED TO HIDE 
          
          <form class="subscription-form form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" id="subscribe" role="form">
            
            <h4 class="subscription-success"><i class="icon_check"></i> Thank you! We will notify you soon.</h4>
            <h4 class="subscription-error">Something Wrong!</h4>
            
            <input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
            
            <button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>
            
          </form>
          
          -->
          
          <!-- / LOCAL TXT SAVING FORM END -->

        </div>
                <!-- END OF SUBSCRIPTION FORM WITH TITLE -->
      %>
      </div> 
      <!-- END COLUMN -->
      
    </div> 
    <!-- END ROW -->
    
  </div>
  <!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->
