<div class="container">
  <div class="row">
  
    <!-- BRIEF -->
    <div class="col-md-11 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
    
      <!-- SECTION TITLE -->
      <h2 class="dark-text"><%= data.mission.headline %></h2>
    
      <div class="colored-line-left"></div>
    
      <% data.mission.paragraphs.each do |paragraph| %>
        <p><%= paragraph %></p>
      <% end %>
    
    </div>
    <!-- /ENDBRIEF -->
    
    <div class="col-md-1"></div>
    
    <%# TODO?
    <!-- PHONES IMAGE -->
    <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
      <div class="phone-image">
        <img src="images/2-iphone-right.png" alt="">
      </div>
    </div>
    <!-- /END PHONES IMAGE -->
    %>

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->
