---
title: Happy Go Lucky
---

<div class="welcome">
  <h1>Happy Go Lucky</h1>
  <p class="doc">
    <%#= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->